$pointColor: #ff0061;
$navItemColor: #28e3a3;
$btnColor: #28e3a3;
$btnSubColor: rgb(40, 208, 163);
$subColor: #1a1d20;
$mainColor: #f8f9fa;
$backgroundColor: #eaeaea;
$reportColor: #ff0061;
$nonReportColor: #00b3fc;
$sub2Color: rgb(49, 49, 60);
