.container {
    margin: 0 auto;
    margin-top: 200px;
    max-width: 1000px;
    width: 100%;
}

.profile__wrap {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.profile__img {
    height: 100%;
}

.name {
    font-size: 30px;
    margin-bottom: 10px;
    &__ko {
        font-weight: bold;
        letter-spacing: 1px;
    }

    &__en {
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.description {
    font-size: 15px;
    font-weight: 300;
}
